<h1>Historia del proyecto</h1>
<p>Es más que común ver tweets de personas pidiendo RT´s a famosos para ayudar con difusión para encontrar sus mascotas perdidas, como también es común ver publicaciones de personas que encontraron algún perrito perdido y están buscando a sus dueños. Me pasa todos los días. Siempre que veo esto, me pregunto qué pasaría si hubiese un lugar donde todos sepan que tienen que visitar, cuando pasan estas cosas. Como ir a “objetos perdidos” en informaciones de algún mall. </p>

<h3>El problema</h3>


<p>Las publicaciones de animalitos perdidos/encontrados andan dando vuelta por redes sociales, sin un hashtag en común, sin un lugar especifico donde buscar. Es super dificil llegar a la persona que estamos buscando, es cuestion de suerte dar en el clavo.</p>

<h3>La solución</h3>


<p>Después de pensarlo harto, me hice un tiempo y programé esta pequeña página donde la gente puede publicar su mascota perdida, publicar que encontró una y además, publicar si está dando en adopción. Son estas tres categorias básicas.</p>

<p>La página es super simple, solo hay que llenar un formulario y el aviso se publica. Puedes poner una imagen, una forma de contacto, la ubicación de la publicación (ej: mi perrito se perdió en la calle Av Siempre Viva 899 ), la descripción, raza y listo. Quise hacerlo más simple, pero creo que entre más datos se pidan, más fácil encontrar a sus dueños será.</p>

<p>El nombre es por Pet + RT´s (pet + eretes, boom). No tiene mucha ciencia. Aparte tengo un amigo al que le digo peteretes, un homenaje a él.</p>

<p>Voy a ir arreglando y añadiendo cosas con el pasar de los días, por ahora es super básico, pero sirve para lo que pensé inicialmente. Si quieres ayudar de cualquier forma, bienvenido seas, ser hermoso.</p>

<p>Un gran agradecimiento a Claudio Castillo, que donó gentilmente este simple pero hermoso logo y me ayudó a ponerlo en el header.</p>