<h1>Colabora</h1>

<p>Si quieres ayudar de cualquier forma, te lo agradeceré de corazón.</p>
<p>Cualquier ayuda es bienvenida, pero estaré especialmente agradecido quieres hermosear el sitio, ayuadar con el SEO, con redes sociales, con lo que sea. Hasta un tweet buena onda nos basta.</p>

<p>Mi correo es lopezrivasdaniel@gmail.com y mi twitter es <a href="www.twitter.com/danitoo">@danitoo</a>. Están prendidos 24/7.</p>