#map.dark

:javascript
  $(document).ready(function(){
    $("#map").css("height", '400')
    L.mapbox.accessToken = 'pk.eyJ1IjoicGV0ZXJldGVzIiwiYSI6ImEyYUxxRTAifQ.ZK97j8BA0SXOaQ16Mri2oA';

    var latlng = ["#{@post.latitude}", "#{@post.longitude}"]
    //var circleMarker = L.circleMarker(latlng).setRadius(180);

    var map = L.mapbox.map('map', 'peteretes.kokmenp1')
      .setView(latlng, 15);

    L.marker(latlng, {
      icon: L.mapbox.marker.icon({
        'marker-size': 'large',
        'marker-symbol': 'dog-park',
        'marker-color': '#fa0'
      })
    }).addTo(map);
  });