<% @perdidos.each do |e| %>
<% if e.status == 'Activo' %>
	<div class="thumbnail">
          <h3><%= e.title %></h3>
          <%= link_to image_tag(e.image_url.to_s), post_path(e), class: "img-responsive img-thumbnail" %>
          <div class="caption">
          <p><%= e.description %></p>
          <%= link_to 'Ver', e, class: "btn btn-default" %>
          </div>
       </div>
     <% end %>
<% end %>