/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 60px;
	margin-bottom: 60px;
}

ul {
		li {
			list-style-type: none;
			display: inline-block;
		}
}

.intro {
	padding: 40px;
	text: {
		align: center;
	}
}

.ficha {
	margin: 20px;
}

// Wrapper for page content to push down footer
#wrap {
	min-height: 100%;
	height: auto;
	// Negative indent footer by its height
	margin: 0 auto -60px;
	// Pad bottom by footer height
	padding: 0 0 60px;
}

// Set the fixed height of the footer here

.footer-p {
	padding: 1% 30% 1% 40%;
}

h3 {
	text-align: center;
}

/*flash*/

%tleft {
	text: {
		align: left;
	}
}

.alert-error {
		background-color: #f2dede;
		border-color: #eed3d7;
		color: #b94a48;
		@extend %tleft;
}

.alert-alert {
		background-color: #f2dede;
		border-color: #eed3d7;
		color: #b94a48;
		@extend %tleft;
}

.alert-success {
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #468847;
		@extend %tleft;
}

.alert-notice {
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #468847;
		@extend %tleft;
}

.logo {
		margin:0;
		a {
			display: block;
			background: url(http://res.cloudinary.com/dqyonjr6e/image/upload/v1420592569/logo_2x_gu1jun.png);
			background-attachment: fixed;
    		background-repeat: no-repeat;
			background-size: 120px 48px;
			background-position: 5px 0px;			
			width: 109px;
			height: 50px;
			cursor: pointer;
			margin: 0 auto;
			text-indent: -9999px;
		}
}

.navbar-inverse {
	background: {
		color: #000;
	}
}

.footer {
	position: absolute;
	padding-top: 10px;
	bottom: 0;
	width: 100%;
	// Set the fixed height of the footer here
	height: 60px;
	background-color: #f5f5f5;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
		.logo	{
			a {
				background: url(http://res.cloudinary.com/dqyonjr6e/image/upload/v1420592569/logo_2x_gu1jun.png) no-repeat;
				-webkit-background-size: 109px;
				background-size: 109px;
			}
		}
}
