.footer
  .container
    .row
      .col-md-1
        = link_to "Publicar", new_post_path, class: 'btn btn-primary'
      %a{:href => "https://twitter.com/peteretescom"}
        %img{:alt => "twitter", src: asset_path('social-32-twitter.png')}/
      %a{:href => "https://www.facebook.com/peteretespeteretes"}
        %img{:alt => "facebook", src: asset_path('social-31-facebook.png')}/
      %span.social.social-facebook
      .col-md-8
        %ul
          %li= link_to "El Proyecto", page_path('about')
          \-
          %li= link_to "Colabora", page_path('collaborates')
          \-
          %li= link_to "Contacto", page_path('contact')
          / <li>link_to &amp;quot;Manifiesto&amp;quot;, page_path('manifesto') </li>